.carrito{
	display: flex;
    margin-right: 5%;
    margin-left: auto;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.cart-count{
	font-size: 12px;
    border-radius: 15px;
    padding: 11px;
    background-color: tomato;
    margin-left: 7px;
}

.hidden{
	visibility: hidden;
}