.item-detail-container {
    display: flex;
    align-items: center;
}

.detail-text-container {
    display: flex;
    flex-direction: column;
}

.detail-text-container h2 {

}

.detail-text-container h3 {
        
}
