.card {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #99755d;
  border: 2px solid rgb(39, 34, 34);
  border-radius: 5px;
  
  }

  .suma {
    background-color: #99755d;
    border-radius: 5px;
  }
.resta {
  background-color: #99755d;
  border-radius: 5px;
}